# Prerequisites
*.d
*.DS_Store
*.user
*.asv

code/CGAL-apps-scaline-normals
code/CGAL-apps-shape-detection-reg-growing
code/buildings_Segm/

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

